{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}

{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <h1>
      {% block page_heading %}
        {{ h.dataset_display_name(pkg) }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      {% endblock %}
    </h1>
    {% block package_notes %}
      {% if pkg.notes %}
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
        </div>
      {% endif %}
    {% endblock %}
    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread">
 
    {% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
    {# set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) #}


    {% set org = h.get_organization(pkg.organization.name) %}
    {% set org_av = h.organizations_available() %}

    {% set id = [] %}
    {% for orav in org_av %}
        {% do id.append(orav.id) %}
    {% endfor %}

    {% if org.id in id %}
{#
        <p class="empty">This user belongs to this organization, hence can preview.</p>
#}
        {% block package_resources %}
          {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
        {% endblock %}

    {% else %}
        <p class="empty">You are not part of this organization. If you want to preview this dataset you should contact the dataset owner.</p>

    {% endif %}

    </span>
  {% endblock %}

{#
  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}
#}

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}
