{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}

{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <h1>

      {% block page_heading %}
        {{ h.dataset_display_name(pkg) }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      {% endblock %}
    </h1>
    {% block package_notes %}
      {% if pkg.notes %}
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
        </div>
      {% endif %}
    {% endblock %}
    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread">
 
    {% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}

    {% set org = h.get_organization(pkg.organization.name) %}
    {% set org_av = h.organizations_available() %}

    {% set id = [] %}
    {% for orav in org_av %}
        {% do id.append(orav.id) %}
    {% endfor %}


    {% set contact_form_data = dict() %}
    {% do contact_form_data.update({'pkg.maintainer': pkg.maintainer}) %}
    {% do contact_form_data.update({'pkg.maintainer_email': pkg.maintainer_email}) %}
    {% do contact_form_data.update({'pkg.author': pkg.author}) %}
    {% do contact_form_data.update({'pkg.author_email': pkg.author_email}) %}
    {% do contact_form_data.update({'pkg.dataset_url': pkg.resources[0].url}) %}

    {% if org.id in id %}
    {# This user belongs to this organization, hence can preview. #}
        {% block package_resources %}
          {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
        {% endblock %}

    {% else %}

        {# set contact_url = h.url_for('contact-us', dataset_data_dict=contact_form_data) #}
	<p class="empty">You are not part of this organization. If you want to preview this dataset you should <a href="">contact the dataset owner.</a></p>

<!-- <p class="empty">You are not part of this organization. If you want to preview this dataset you should <a href="{{ contact_url }}">contact the dataset owner.</a></p> -->

{#
	{% snippet "package/snippets/test.html" %}
#}

    {% endif %}

    </span>
  {% endblock %}

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}
